# Dependencies
markdown:         redcarpet
highlighter:      pygments

# Permalinks
permalink:        pretty

# Setup
title:            JackFrank's Blog
url:              https://JackFrankWen.github.io/
baseurl:          https://jackfrankwen.github.io/

future: true
paginate:         5

# Custom vars
version:          2.1.0

github:
  repo:           https://github.com/poole/hyde

plugins: [jekyll-gist, jekyll-paginate]
